@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url('img/fundo1.img.png') no-repeat center center/cover;
    color: #89898b;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

header h1 {
  font-size: 2.4rem;
  margin-bottom: 30px;
  color: #9C7627; /* Título preto como solicitado */
  user-select: none;
}

#contador {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  background: url('img/download.jpg') no-repeat center center/cover;
  color: #DFC57B;
  padding: 25px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  margin-bottom: 25px;
}

#barra-progresso-container {
  width: 100%;
  max-width: 600px;
  height: 25px;
  background-color: #DFC57B;
  border-radius: 15px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-bottom: 35px;
}

#barra-progresso {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #161616, #444c94);
  border-radius: 15px 0 0 15px;
  transition: width 1s linear;
}

#mensagem-final {
  font-size: 2.2rem;
  font-weight: 700;
  color: #d32f2f;
  text-align: center;
  text-shadow: 0 0 10px #f44336;
  user-select: none;
}

.escondido {
  display: none;
}

footer p {
  position: fixed;
  bottom: 10px;
  font-size: 0.85rem;
  color: #777;
  user-select: none;
}
